.header-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    flex-wrap: wrap;
}
.header-container > div{
    margin-left: 1rem;
}